.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .button-edit{
    border-radius: 5px;
    padding: 5px 20px;
    color: #FFF;
    background: green;
    cursor: pointer;
    border: none;
    font-family: 'Staatliches', cursive;
    margin-right:  -60px;
    margin-left: -10px;
}

  .button-edit:hover{
  background: rgb(11, 39, 11);
}

/* BOTON DE FILTRAR POR GENERO */
.custom-select{
  background-color: #eaeaea;
  color: #202020;
  border-radius: 0px;
  border-color: #202020;
}
.custom-select:hover option{
  background-color: #d1d1d1;
  color: #202020;
}

.btnFilter{
  background-color: #eaeaea;
  color: #202020;
  border-style: solid;
  border-color: #202020;
  padding: 5px 20px;
  margin-left: 20px;
}

.btnFilter:hover{
  background-color: #202020;
  color: #eaeaea;
}

.btnClear{
  display: flex;
  background-color: #eaeaea;
  color: #202020;
  border-style: solid;
  border-color: #202020;
  padding: 5px 20px;
  margin-left: 20px;
}

.btnClear:hover{
  background-color: #202020;
  color: #eaeaea;
}


.filters{
  display: flex;
}

.mainFondo{
  background-color: #f8f9fa;
  padding-bottom: 20%;
}
@media (min-width: 800px) {
  .mainFondo {
    padding-bottom: 46.5%;
  }
}

.cuteMsg{
  font-family: 'Staatliches', cursive;
  color: #212529;
  font-size: 25px;
}
