* {
    font-family: sans-serif;
}

.cont-form{
    position: relative;
    width: 50%;
    max-width: 200px;
    height: 400px;
    text-align: center;
    margin: 15% 45%;
    display: block;
    /*background:#212529;*/
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: whitesmoke;
}



