body 
{
     background-image: url(https://cdn.pixabay.com/photo/2017/11/24/10/43/admission-2974645_960_720.jpg);
     background-repeat: no-repeat;
     background-size: 1920px 1080px;
     -webkit-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
}

* {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;   
}

h1{
    font-family: 'Anton', sans-serif;
    margin: 100px 0 0 0;
    color: #e03131;
}

h1 span{
    font-family: 'Anton', sans-serif;
    color: #FFF;
}

.cont-form{
    background: rgba(0,0,0,.6);
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    color: #FFF;
    padding: 20px;
}

.cont-form .form .form-title{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 30px;
}
.cont-form .form .form-label{
    display: block;
    font-size: 16px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
}


.cont-form .form .form-input{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid#e03131;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
}

.cont-form .form .btn-submit{
    width: 100%;
    outline: none;
    background: #e03131;
    font-size: 16px;
    border: none;
    color: #FFF;
    padding: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.cont-form .form .btn-submit:hover{
   background: #fa5252; 
}

/*-------------------- DISEÑO DE NAV-------------------------*/

.nav-link{
    background-color: #212529;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

#menu{
    background: rgba(0,0,0,.6);
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: #FFF;
    display: block;
    margin: left;
    padding: 20px;
    text-decoration: none;
    border-bottom: 2px solid#e03131;
}

#menu ul li a:hover{
    background-color: #212529;
}

.item-r{
    float: right;
}

