body 
{
     background-image: url(https://i.imgur.com/CHnwHiP.jpg);
     background-repeat: no-repeat;
     background-size: 1920px 1080px;
     -webkit-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
     overflow-x: auto;
}

/*-------------------- DISEÑO DE LOGIN/REGISTER/ADD CINEMA -------------------------*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;   
}

h1{
    font-family: 'Anton', sans-serif;
    margin: 100px 0 0 0;
    color: #e03131;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin-bottom: 20px;
    color: #FFF;
}

h1 span{
    font-family: 'Anton', sans-serif;
    color: #FFF;
}

.cont-form{
    font-family: 'Staatliches', cursive;
    background: rgba(0,0,0,.6);
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    color: #FFF;
    padding: 20px;
    display: block;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cont-form .form .form-label{
    font-family: 'Staatliches', cursive;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.cont-form .form .form-input{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid#e03131;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
}

.cont-form .form .btn-submit{
    font-family: 'Staatliches', cursive;
    width: 100%;
    outline: none;
    background: #e03131;
    font-size: 16px;
    border: none;
    color: #FFF;
    padding: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.cont-form .form .btn-submit:hover{
    background: #fa5252; 
 }

.cont-form .form .btn-submit-fc{
    font-family: 'Staatliches', cursive;
    width: 100%;
    outline: none;
    background: #110650;
    font-size: 16px;
    border: none;
    color: #FFF;
    padding: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.cont-form .form .btn-submit-fc:hover{
    background:  #211564;
 }

/*-------------------- DISEÑO DE NAV-------------------------*/

#menu header{
    width: 100%;
    background-color: #212529;
}

#btn-menu{
    display: none;
}

#menu header label{
    display: none;
    width: 50px;
    height: 46px;
    padding: 10px;
    border-right: solid 3px #e03131;
}

#menu header label:hover{
    cursor: pointer;
    background-color: #212529;
}

#menu .menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#menu .menu li:hover{
    background-color: #464747;
}

#menu .menu li a{
    display: block;
    padding: 10px 20px;
    color: #FFF;
    text-decoration: none;
    border-bottom: solid 3px #e03131;
}

@media (max-width:768px){
    #menu header label{
        display: block;
    }

    #menu .menu{
        position: absolute;
        background-color: #212529;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    #menu .menu ul{
        flex-direction: column;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}
/*-------------------- DISEÑO DE CINEMA LIST-------------------------*/

.table-list{
    width:1200px;
    margin: 150px auto;
    border-radius: 5px;
    border-collapse: collapse;
    max-width: 1100px;
}

.table-title{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    color: #FFF;
}

.table-list .button-edit{
    border-radius: 5px;
    padding: 5px 20px;
    color: #FFF;
    background: green;
    cursor: pointer;
    border: none;
    font-family: 'Staatliches', cursive;
    margin-right:  -60px;
    margin-left: -10px;
}

.table-list .button-edit:hover{
 background: rgb(11, 39, 11);
}

.table-list .button-delete{
    border-radius: 5px;
    padding: 5px 20px;
    color: #FFF;
    background: red;
    cursor: pointer;
    border: none;
    font-family: 'Staatliches', cursive;
    margin-left: 20px;
    margin-right: -80px;
}

.table-list .button-delete:hover{
    background: rgb(48, 8, 8);
}    

.table-list .button-auditoriums{
    border-radius: 5px;
    padding: 5px 20px;
    color: #FFF;
    background: rgb(70, 68, 68);
    cursor: pointer;
    border: none;
    font-family: 'Staatliches', cursive;
    margin-left: -60px;
    margin-right: -60px;
}

.table-list .button-auditoriums:hover{
    background: rgb(14, 14, 56);
}    

table{
    overflow-x: auto;
    background: rgba(0,0,0,.6);
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    color: #FFF;
}

th,td{
    padding: 20px;
}

thead{
    font-family: 'Staatliches', cursive;
    background-color: #212529;
    border-bottom:solid 5px #e03131;
    color: #FFF; 
}

tr:nth-child(even){
    background-color: rgba(0,0,0,.8);
}

tr:hover td{
    background-color: #491515;
}

/*--------------------AUDITORIUM LIST-------------------------*/

.button-add{
    font-family: 'Staatliches', cursive;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background: #e03131;
    color: #FFF;
    margin: 4px;
    cursor: pointer;
    border: none;
}

.button-add:hover{
    background: #fa5252;
}
